@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/css?family=Oswald:700);
@font-face {
  font-family: 'NanumSquare';
  src: url(./fonts/NanumSquareR.eot);
  src: url(./fonts/NanumSquareR.eot?#iefix) format("embedded-opentype"), url(./fonts/NanumSquareR.woff) format("woff"), url(./fonts/NanumSquareR.ttf) format("truetype");
}
body {
  font-family: 'Nanum Gothic', sans-serif;
  padding-top: 0;
  height: 100%;
  margin-bottom: 141px;
}

.container-fulid {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1010px !important;
}

html {
  position: relative;
  min-height: 100%;
}

.footpart {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 140px;
}

.frontback1 {
  background-image: url(../imgs/primeback1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-width: 100%;
  background-height: auto;
  background-position: center center;
}

.frontback2 {
  background-image: url(../imgs/primeback2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-width: 100%;
  background-height: auto;
  background-position: center center;
}

.centerbox {
  margin: 15% auto;
  color: #fff;
}
.centerbox h1 {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 3.5em;
  text-align: center;
}
.centerbox h2 {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 20px;
  text-align: center;
}
.centerbox h1 strong, .centerbox h2 strong {
  font-weight: bold;
  font-size: 1.25em;
}
.centerbox a.btn {
  margin: 30px auto;
  text-align: center;
  padding: 15px 40px;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
.centerbox a.btn.btn-start {
  background-color: rgba(136, 206, 224, 0.8);
}
.centerbox a.btn.btn-start:hover {
  background-color: #0a5d7d;
}

.navbar-default {
  height: 65px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  border: none;
  border-radius: 0;
}
.navbar-default .navbar-header .navbar-brand {
  margin-top: 12px;
  margin-right: 25px;
  width: 150px;
  height: 40px;
  background-image: url("../imgs/logo.png");
}
.navbar-default .navbar-nav > li
> a {
  padding-top: 24px;
  font-size: 16px;
  height: 65px;
  color: #fff;
  z-index: 999;
}
.navbar-default .navbar-nav > li
> a:hover {
  color: #88cee0;
}
.navbar-default .btn {
  margin-top: 15px;
  margin-left: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.navbar-default ul.navbar-right {
  width: 180px;
  text-align: right;
}
.navbar-default a.btn-white {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  color: #fff;
  margin-top: 15px;
}
.navbar-default a.btn-white:hover {
  text-decoration: none;
  color: #88cee0;
  bordr: 1px solid #88cee0;
}

.footpart {
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 10px;
  color: #313131;
  border-top: 1px solid rgba(204, 204, 204, 0.5);
}
.footpart footer {
  padding-bottom: 10px;
}
.footpart footer h2 {
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  color: #88cee0;
}
.footpart footer h5 {
  font-size: 12px;
}
.footpart footer h4 {
  font-weight: bold;
  font-size: 16px;
}
.footpart footer a {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  padding-right: 8px;
}
.footpart footer .rightside {
  margin-top: 20px;
}
.footpart footer ul.footlink li:after {
  content: " /";
}
.footpart footer ul.footlink li:last-child:after {
  content: "";
}
.footpart .copy-txt {
  font-size: 12px;
  margin-top: 20px;
}

/*# sourceMappingURL=style.css.map */