@for $b from 1 through 2 {
	.frontback#{$b}{
		@include backover(url(../imgs/primeback#{$b}.jpg));
	}
}

.centerbox {
	margin:15% auto;
	color:$white;
	h1{
		font-family: "Nanum Gothic", sans-serif;
		font-size: 3.5em;
		text-align: center;
	}
	h2 {
		font-family: "Nanum Gothic", sans-serif;
		font-size: 20px;
		text-align:center;
	}
	h1, h2{
		strong{
			@include fontbold(1.25em);
		}
	}
	a.btn{
		margin: 30px auto;
		text-align: center;
		padding: 15px 40px;
		display: inline-block;
		color:$white;
		@include fontbold(18px);
		&.btn-start{
			background-color:rgba($educolor,0.8);
			&:hover {
				background-color:#0a5d7d;
			}
		}
	}
}