body{
	font-family:'Nanum Gothic', sans-serif;  
  	padding-top: 0;  
	height:100%; 
	margin-bottom:141px;
}
.container-fulid {
	padding:0;
  	margin:0;
}
.container {
	max-width:1010px !important; 
}
html {
	position: relative;
	min-height:100%;
}
.footpart{
	position:absolute;
	bottom:0; 
	width:100%; 
	height:140px;
}